/* ========== COMMON ========== */

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: border-box;
}

a:hover {
    color: #a69f6d;
}

a:focus {
    color: #473a06;
}

/* ========== POPUP ========== */
.overflow {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0px; 
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    position: absolute;
    z-index: 11;
    background: #ffffff;
    font-weight: normal;
    font-size: 13px;
    color: #0f0d0e;

    max-width: 330px;
    margin: 55px 15px;
}

.popup .close {
    position: absolute;
    top: -20px;
    right: 1px;
    display: block;
    width: 17px;
    height: 17px;
    background-image: url(../svg/form-x.svg); 
    background-repeat: no-repeat;
    background-position: center;
}

.popup .close:hover {
    opacity: 0.6;
}

.form {
    padding: 30px 24px;
}

.header {
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 29px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.header::after {
    content: "";
    background-color: #e1d9bd;
    width: 66px;
    height: 4px;
    margin-top: 10px;
}

.form-group {
    display: block;
    padding-top: 27px;
}

.select-label {
    line-height: 40px;
}

.option {
    display: inline-block;
    width: 100%;
    height: 48px;
    border: none;
    background-color: #eeeeee;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 5px;


    color: black;
    opacity: 0.54;

    cursor: pointer;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-position: right 10px center;
    background-size: 10px 15px;

    -webkit-appearance: none;
    -moz-appearance: none;
}

.checkbox-wrapper {
    display: flex;
}

.checkbox-container {
    padding-right: 30px;
    margin-top: 10px;
}

.checkbox-text {
    display: inline-block;
}

.checkmark::before {
    margin-right: 8px;
  
    content: "";
    display: inline-block;
  
    vertical-align: middle;
    width: 20px;
    height: 20px;
  
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

.checkbox:checked ~ .checkmark::before {
    background-image: url(../svg/form-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

.checkbox {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    height: 1px;
    width: 1px;
}

.textarea {
    width: 100%;
    height: 136px;
    resize: none;

    background-color: #eeeeee;
    color: black;
    font-size: 13px;
    font-family: "Open Sans";
    font-style: normal;
    padding: 10px;
    margin-top: 5px;

    border: none;
    opacity: 0.54;
}

.button {
    display: block;

    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    background-color: #b59f5b;
    height: 48px;
    width: 100%;
  
    cursor: pointer;

    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}

.button:hover {
    background-color: #a69f6d;
}

.focus {
    background-color: #473a06;
}


/* ========== HEADER ========== */


.noemi-header {
    background-image: url(../images/banner-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #666666;
    background-size: cover;

    position: relative;
}

.noemi-header::after {
    content: "";
    background-color: #000000;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    opacity: 0.6;
}

.noemi-header-wrapper {
    position: relative;
    z-index: 2;
    margin: auto;
    padding: 225px 15px;
}

.container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.noemi-logo {
    width: 270px;
}

.menu {
    position: absolute;
    top: 30px;
    right: 15px;
}

.menu-button {
    display: flex;
    align-items: center;
    position: relative;
       
    width: 23px;
    height: 20px;

    cursor: pointer;
    z-index: 2;
}

.burger, .burger::before, .burger::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #ffffff;
}

.burger::before {
    content: '';
    top: -8px;
}

.burger::after {
    content: '';
    top: 8px;
}

.menu-list {
    display: none;
}

.title {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 26px;
    line-height: 36px;
}


/* ========== TRENDS-SECTION ========== */

.trends-section {
    margin-top: 35px;
}

.trends {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

.trend {
    position: relative;
    background-color: #666666;
    margin-bottom: 3px;
    width: 100%;
}

.trend::after {
    content: "";
    background-color: #000000;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    opacity: 0.6;
}

.trend-img {
    min-height: 230px;
    width: 100%;
    display: block;
}

.trend-container {
    position: absolute;
    z-index: 2;
    border: solid 3px #b59f5b;
    padding: 30px 15px;
    bottom: 0;
    left: 0;
    margin: 15px;

    display: flex;
    flex-direction: column;
}

.trend-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.trend-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #b59f5b;
}

.trend-links-item:nth-child(n + 2) {
    margin-left: 18px;
}

.trend-title {
    margin-top: 15px;
    margin-bottom: 0;
}

.trend-name {
    font: 16px;
    text-transform: uppercase;
    color: #ffffff;
}


/* ========== CONTENT-SECTION ========== */


.content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 45px 15px;
    }


/* ========== MAIN ========== */


.card {
    display: flex;   
    flex-direction: column;
    justify-content: center;
}

.card::after {
    content: "";
    background-color: #eeeeee;
    width: 100%;
    height: 3px;
    margin-bottom: 40px;
}

.card-media {
    margin: 0;
}

.img-card {
    width: 100%;
}

.card-links {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
}

.card-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 40px;
    color: #b59f5b;
    margin: 0 0 0 18px;
}


.first-link {
     margin: 0;
}

.card-title {
    margin: 0;
}

.card-name {
    text-transform: uppercase;
    font-size: 16px
    line-height: 20px;
    color: #0f0d0e;
}

.card-date {
    font-size: 12px;
    line-height: 40px;
    color: #888888;
    font-weight: normal;
    margin-right: 15px;
}

.author {
    font-size: 12px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
}

.card-content {
    line-height: 20px;
    font-weight: normal;
    font-size: 14px;
}


/* ========== SIDEBAR ========== */


.recent-posts-section {
    margin-bottom: 60px;
}

.recent-posts-article {
    display: flex;
    margin-top: 23px;
}

.recent-post {
    display: flex;
    flex-direction: column;
    margin-left: 17px;
}

.recent-post-date {
    font-weight: normal;
    font-size: 12px;
    color: #acacac;
}

.recent-post-title {
    margin-top: 0;
    margin-bottom: 0;
}

.recent-post-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 14px;
    line-height: 18px;
}

.search {
    display: flex;
    width: 100%;
    height: 48px;
    margin: 60px auto;
}

.lable-search {
    width: 100%;
}

.search-field {
    border: none;
    background-color: #f4f7f6;
    font-family: "Open Sans", sans-serif;
    padding: 0 18px;
    width: 100%;
    height: 48px;
    margin: 0;
}

.hidden {
    display: none;
}

.search-button {
    display: flex;
    align-items: flex-end;

    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    background-color: #b59f5b;
    height: 48px;
    width: 48px;
    cursor: pointer;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px 18px;
}

.search-button:hover {
    background-color: #a69f6d;
}

.search-button:focus {
    background-color: #473a06;
}

.email-field {
    display: flex;

    border: none;
    background-color: #f4f7f6;
    font-family: "Open Sans", sans-serif;
    padding: 0 18px;
    height: 48px;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 18px;
}

.newsletter-section {
    margin-bottom: 40px;
}

.subscribe-button {
    display: block;

    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    background-color: #b59f5b;
    height: 48px;
    width: 100%;
  
    cursor: pointer;

    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.subscribe-button:hover {
    background-color: #a69f6d;
}

.subscribe-button:focus {
    background-color: #473a06;
}

.tags-section {
    margin-bottom: 40px;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    margin-top: 26px;
    padding: 0;
}

.tags-list-item {
    border: solid 3px #eeeeee;
    margin-bottom: 6px;
    margin-left: 5px;
}

.tags-link {
    display: block;
    padding: 8px 14px;
  
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #0f0d0e;
}

.categories-list {
    padding-left: 0;
    margin-top: 26px;
    list-style: none;
}

.categories {
    display: block;

    border-bottom: solid #eeeeee 1px;
    padding: 18px 6px 18px 0;
}

.categories-link {
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 14px;
    color: #0f0d0e;
}

.categories-number {
    font-family: "Open Sans Bold", sans-serif;
    font-size: 12px;
    color: #b59f5b;
}


/* ========== SHOP-SECTION ========== */


.shop-wrapper {
    padding: 0 15px;
    margin: auto;
    margin-bottom: 40px;
}

.shop-header {
    margin:  0;
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.product-img {
    position: relative;
    top: 30px;
    width: 100%;
}

.product-wrapper {
    position: relative;
    z-index: 2;
    border: solid 3px #b59f5b;
    padding: 23px;
    box-sizing: border-box;
    align-items: flex-start;
    height: 100%;
}

.product-name {
    font-size: 17px;
    line-height: 22px;
    color: #0f0d0e;
    text-transform: uppercase;
}

.product-info {
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
}

.product-link {
    text-decoration: none;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #b59f5b;
}

.product-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.product-button {
    display: block;

    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    background-color: #b59f5b;
    height: 48px;
    width: 138px;

    cursor: pointer;

    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
}

.product-button:hover {
    background-color: #a69f6d;
}

.product-button:focus {
    background-color: #473a06;
}

.product-prices {
    font-size: 20px;
    color: #0f0d0e;
    line-height: 24px;
}

.product-old-price {
    text-decoration: line-through;
    font-size: 14px;
    display: block;
}

.product-new-price {
    display: block;
}


/* ========== FOOTER ========== */


.footer {
    margin-bottom: 33px;
}

.footer-wrapper {
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

.socials-section {
    margin-top: 0;
}

.socials {
    display: flex;
    background-color: #f4f7f6;
    list-style-type: none;
    justify-content: center;
  
    padding: 30px 0;
    margin: 0 auto;
}

.socials-item {
    margin-right: 28px;
}

.socials-link {
    display: block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.socials-item:last-child {
    margin-right: 0;
}

.twitter {
    background-image: url(../svg/004-twitter.svg);
}

.pinterest {
    background-image: url(../svg/001-pinterest.svg);
}

.facebook {
    background-image: url(../svg/002-facebook-logo.svg);
}

.instagram {
    background-image: url(../svg/005-instagram.svg);
}

.tumblr {
    background-image: url(../svg/003-tumblr.svg);
}

.socials-link-text {
    display: none;
}

.copyright-section {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.copyright {
    font-weight: bold;
    font-size: 12px;
    color: #999999;
    text-decoration: none;
}

@media (min-width: 641px) {
    .header {
        font-size: 18px;
    }

    .noemi-header {
        background-image: url(../images/banner-bg-tablet.jpg);
    }

    .noemi-header-wrapper {
        padding: 35px 40px;
    }

    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .noemi-logo {
        width: 156px;
    }

    .menu {
        position: relative;
        top: 0;
        left: 0;
    }

    .title {
        font-size: 40px;
        line-height: 55px;
        max-width: 600px;
        padding: 120px 0;
        margin: auto;
    }

    .trends-section {
        margin-top: 45px;
    }

    .trend {
        max-width: calc(50% - 3px);
        margin-bottom: 3px;
    }

    .trend:nth-child(2n+2) {
        margin-left: 3px;
    }

    .trend-name {  
        font-size: 17px;
        line-height: 22px;
    }

    .content-wrapper {
        padding: 50px 35px;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .main {
        width: 55%;
    }

    .card {
        flex-direction: column;
        justify-content: center;
    }

    .card::after {
        content: "";
        background-color: #eeeeee;
        width: 100%;
        height: 3px;
        margin-bottom: 40px;
    }

    .card:last-child::after {
        display: none;
    }

    .card-title {
        margin-bottom: 10px;
    }

    .card-name {  
        font-size: 17px;
        line-height: 22px;
    }

    .card-content {
        line-height: 22px;
        font-size: 15px;
    }

    .sidebar {
        width: 38%;
        max-width: 270px;
    }

    .recent-posts-title, .newsletter-title, .tags-title, .categories-title {
        font-size: 14px;
    }

    .newsletter-section {
        margin-bottom: 60px;
    }

    .tags-section {
        margin-bottom: 60px;
    }

    .shop-wrapper {
        padding: 0 35px;
        margin: auto;
        margin-bottom: 50px;
    }


    .product {
        width: calc(50% - 10px);
    }

    .footer-wrapper {
        width: 100%;
        margin: auto;
        padding: 0 35px;
    }
}


@media (min-width: 1200px) {
    .header {
        font-size: 20px;
    }

    .noemi-header {
        background-image: url(../images/banner-bg.jpg); 
        padding: 33px 0;
    }

    .noemi-header-wrapper {
        width: 1170px;
        padding: 0 15px;
        margin: auto;
    }

    .noemi-logo {
        width: 180px;
    }

    .menu-button {
        display: none;
    }

    .menu-list {
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        list-style: none;
        font-weight: normal;

        display: flex;
        flex-wrap: wrap;
    }

    .menu-list-item:nth-child(n + 2) {
        margin-left: 37px;
    }  

    .menu-link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 13px;
        color: #ffffff;
    }

    .title {
        font-size: 45px;
        line-height: 75px;
        max-width: 675px;
        padding: 120px 0;
    }

    .trend {
        max-width: calc(25% - 5px);
        margin-right: 5px;
    }

    .trend:nth-child(2n+2) {
        margin-left: 0;
    }

    .trend-name {  
        font-size: 20px;
        line-height: 24px;
    }

    .content {
        margin: 60px 0;
    }

    .content-wrapper {
        width: 1170px;
        padding: 0 15px;
        margin: auto;
    }

    .main {
        width: 760px;
    }

    .card {
        flex-direction: row;
    }

    .card::after {
        display: none;
    }

    .img-card {
        width: 380px;
    }

    .card-media {
        margin: 0;
    }

    .card:nth-child(n + 2) {
        margin-top: 59px;
    }

    .card-info {
        margin-left: 30px;
    }

    .card-name {  
        font-size: 20px;
        line-height: 24px;
    }

    .sidebar {
        width: 275px;
    }

    .recent-posts-title, .newsletter-title, .tags-title, .categories-title {
        font-size: 14px;
    }

    .shop-wrapper {
        width: 1170px;
        padding: 0 15px;
        margin: 60px auto;
    }

    .product {
        width: 30%;
    }

    .footer-wrapper {
        width: 1170px;
        margin: auto;
        padding: 0 15px;
    }
}

