/* ========== COMMON ========== */
body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: border-box;
}

@font-face {
    font-family: "Open Sans Regular";
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans Bold";
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

a:hover {
    color: #a69f6d;
}

a:focus {
    color: #473a06;
}

/* ========== POPUP ========== */
.overflow {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0px; 
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;

    display: flex;
    justify-content: center; 
    align-items: center;
}

.popup {
    position: absolute;
    z-index: 11;
    background: #ffffff;
    width: 300px;

    line-height: 18px;
    font-family: "Open Sans Regular", sans-serif;
    color: #0f0d0e;
    font-size: 11px;
}

.popup .close{
    position:absolute;
    top: -20px;
    right: 1px;
    display:block;
    width: 17px;
    height: 17px;
    background-image: url(../svg/form-x.svg); 
    background-repeat: no-repeat;
    background-position: center;
}

.popup .close:hover{
    opacity: 0.6;
}

.form {
    padding: 30px 20px;
}

.form-group {
    margin-top: 15px;
    display: block;
}

.select-group {
    display: block;
}

.select-lable {
    display: block;
}

.option {
    display: inline-block;
    width: 100%;
    height: 38px;
    border: none;
    color: grey;
    background-color: #eeeeee;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 5px;
    font-size: 11px;

    cursor: pointer;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-position: right 10px center;
    background-size: 10px 15px;

    -webkit-appearance: none;
    -moz-appearance: none;
   }

.checkbox-wrapper {
    display: flex;
}

.checkbox-container {
    display: block;
    padding-right: 30px;
}

.checkbox-text {
    display: inline-block;
}

.checkmark::before {
    margin-right: 8px;
  
    content: "";
    display: inline-block;
  
    vertical-align: middle;
    width: 20px;
    height: 20px;
  
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

.checkbox:checked ~ .checkmark::before {
    background-image: url(../svg/form-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

.checkbox {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    height: 1px;
    width: 1px;
}

.textarea {
    width: 100%;
    height: 90px;
    resize: none;
    background-color: #eeeeee;
    font-family: "Open Sans Regular", sans-serif;
    color: grey;
    font-size: 11px;
    padding: 10px;
    margin-top: 5px;

    border: none;
}

.button {
    display: block;

    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    background-color: #b59f5b;
    height: 38px;
    width: 100%;
  
    cursor: pointer;

    font-family: "Open Sans Bold", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}

.button:hover {
    background-color: #a69f6d;
}

.focus {
    background-color: #473a06;
}




/* ========== HEADER ========== */

.noemi-header {
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #666666;
    background-size: cover;

    position: relative;

}

@media (min-width: 1200px) {
    .noemi-header {
        background-image: url(../images/banner-bg.jpg); 
        padding: 33px 0;
    }
}

@media (min-width: 641px) and (max-width: 1199.9px) {
    .noemi-header {
        background-image: url(../images/banner-bg-tablet.jpg);
    }
}

@media (max-width: 640px) {
    .noemi-header {
        background-image: url(../images/banner-mobile.jpg);
    }
}

.noemi-header::after {
    content: "";
    background-color: #000000;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    opacity: 0.6;
}

.noemi-header-wrapper {
    position: relative;
    z-index: 2;
}

@media (min-width: 1200px) {
    .noemi-header-wrapper {
        width: 1170px;
        padding: 0 15px;
        margin: auto;
    }
}

@media (min-width: 641px) and (max-width: 1199.9px) {
    .noemi-header-wrapper {
        padding: 36px 42px;
    }
}

@media (max-width: 640px) {
    .noemi-header-wrapper {
        padding: 0 15px;
        margin: auto;
    }
}

.container {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 1200px) {
    .container {
        align-items: center;
    }
}

@media (min-width: 641px) and (max-width: 1199.9px) {
    .container {
        align-items: baseline;
    }
}

@media (max-width: 640px) {
    .container {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 220px;
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    .noemi-logo {
        width: 180px;
    }
}

@media (min-width: 641px) and (max-width: 1199.9px) {
    .noemi-logo {
        width: 156px;
    }
}

@media (max-width: 640px) {
    .noemi-logo {
        width: 270px;
    }
} 

@media (min-width: 1200px) {
    .menu-button {
        display:none;
    }

    .menu-list {
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        list-style: none;

        display: flex;
        flex-wrap: wrap;
    }

    .menu-list-item:nth-child(n + 2) {
        margin-left: 37px;
    }  

    .menu-link {
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Open Sans Regular", sans-serif;
        font-size: 13px;
        color: #ffffff;
    }
}    

@media (max-width: 1199.9px) {
    .menu-button {
        display: flex;
        align-items: center;
        position: relative;
       
        width: 23px;
        height: 20px;

        cursor: pointer;
        z-index: 2;
    }

    .burger, .burger::before, .burger::after {
        display: block;
        position: absolute;

        width: 100%;
        height: 2px;

        background-color: #ffffff;
      }

    .burger::before {
        content: '';
        top: -7px;
    }

    .burger::after {
        content: '';
        top: 7px;
    }

    .menu-list {
        display: none;
    }
}

@media (max-width: 640px) {
    .menu {
        position: absolute;
        top: 30px;
        right: 15px;
    }
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-family: "Open Sans Bold", sans-serif;
    color: #ffffff;
    margin: 0 auto;
    
}

@media (min-width: 1200px) {
    .title {
        font-size: 45px;
        line-height: 75px;
        max-width: 730px;
        padding: 120px 0;
    }
}

@media (min-width: 641px) and (max-width: 1199.9px) {
    .title {
        font-size: 40px;
        line-height: 55px;
        max-width: 600px;
        padding: 120px 0;
    }
}

@media (max-width: 640px) {
    .title {
        font-size: 26px;
        line-height: 36px;
        margin: 44px 30px;
        padding-bottom: 220px;
    }
} 

/* ========== TRENDS-SECTION ========== */

.trends-header {
    margin: 60px 0 30px; 
    font-family: "Open Sans Bold", sans-serif;
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.trends {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    margin: 0;
    }

.trend {
    background-color: #666666;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.trend::after {
    content: "";
    background-color: #000000;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    opacity: 0.6;
}

@media (min-width: 1200px) {
    .trend {
        min-height: 320px;
        max-width: 24.6%;
        margin-right: 5px;
    }
}

@media (min-width: 641px) and (max-width: 1199.9px) and (orientation: portrait) {
    .trend {
        min-height: 250px;
        max-width: 49.7%;
        margin-bottom: 3px;
    }

    .trend:nth-child(2n+2) {
        margin-left: 3px;
    }
}

@media (min-width: 641px) and (max-width: 1199.9px) and (orientation: landscape) {
    .trend {
        min-height: 320px;
        max-width: 24.6%;
        margin-right: 5px;
    }
}

@media (max-width: 640px) and (orientation: portrait) {
    .trend {
        width: 100%;
        margin-bottom: 3px;
        min-height: 230px;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .trend {
        min-height: 250px;
        max-width: 49.7%;
        margin-bottom: 3px;
    }

    .trend:nth-child(2n+2) {
        margin-left: 3px;
    }
}

.trend-1 {
    background-image: url(../images/trend1.jpg);
    width: 100%;
    height: auto;
}

.trend-2 {
    background-image: url(../images/trend2.jpg);
    width: 100%;
    height: auto;
}

.trend-3 {
    background-image: url(../images/trend3.jpg);
    width: 100%;
    height: auto;
}

.trend-4 {
    background-image: url(../images/trend4.jpg);
    margin-right: 0;
    width: 100%;
    height: auto;
}

.trend-container {
    position: relative;
    z-index: 2;
    border: solid 3px #b59f5b;
    margin-left: 20px;
    margin-right: 20px; 
    margin-bottom: 16px;
    padding: 33px;
    padding-bottom: 0;
}

.trend-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.trend-link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 14px;
    color: #b59f5b;
}

.trend-links-item:nth-child(n + 2) {
    margin-left: 18px;
}

.trend-name {  
    font-family: "Open Sans Bold", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}


@media (min-width: 1200px) {
    .trend-name {  
        font-size: 20px;
        line-height: 24px;
    }
}

@media (min-width: 641px) and (max-width: 1199.9px) {
    .trend-name {  
        font-size: 17px;
        line-height: 22px;
    }
}

@media (min-width: 1200px) {
    .content {
        margin: 60px 0;
    }
}

@media (min-width: 1200px) {
    .content-wrapper {
        width: 1170px;
        padding: 0 15px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 641px) and (max-width: 1199.9px) {
    .content-wrapper {
        padding: 50px 35px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 640px) {
    .content-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 45px 15px;
    }
}

/* ========== MAIN ========== */

@media (min-width:1200px) {
    .main {
        width: 67%;
    }
}

@media (min-width: 641px) and (max-width: 1199.9px) {
    .main {
        width: 56%;
        margin-right: 35px;
    }
}

.card {
    display: flex;
}

@media (min-width: 641px) and (max-width: 1199.9px) {
    .card {
        flex-direction: column;
        justify-content: center;
    }

    .card::after {
        content: "";
        background-color: #eeeeee;
        width: 100%;
        height: 3px;
        margin-bottom: 40px;
    }

    .card:last-child::after {
        display: none;
    }
}

@media (max-width: 640px) {
    .card {
        flex-direction: column;
        justify-content: center;
    }

    .card::after {
        content: "";
        background-color: #eeeeee;
        width: 100%;
        height: 3px;
        margin-bottom: 40px;
    }
}

.card-media {
    margin: 0;
}

@media (max-width: 1199.9px) {
    .img-card {
        width: 100%;
    }
}

.img-card {
    vertical-align: top;
}

@media (min-width: 1200px) {
    .card:nth-child(n + 2) {
        margin-top: 59px;
    }

    .card-info {
        margin-left: 30px;
    }
}

@media (max-width: 1199.9px) {
    .card-info {
        margin-top: 18px;
    }
}

.card-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.card-link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 14px;
    color: #b59f5b;
}

.card-links-item:nth-child(n + 2) {
    margin-left: 18px;
}

.card-title {
    display: flex;
    margin-top: 15px;
    margin-bottom: 38px;
}

.card-name {
    font-family: "Open Sans Bold", sans-serif;
    text-transform: uppercase;   
    color: #0f0d0e;
}

@media (min-width: 1200px) {
    .card-name {  
        font-size: 20px;
        line-height: 24px;
    }
}

@media (min-width: 641px) and (max-width: 1199.9px)  {
    .card-name {  
        font-size: 17px;
        line-height: 22px;
    }
}

.card-date {
    font-size: 12px;
    color: #888888;
    font-family: "Open Sans Regular", sans-serif;
    margin-right: 15px;
}

.author {
    font-size: 12px;
    color: #000000;
    font-family: "Open Sans Bold", sans-serif;
    text-decoration: none;
}

.card-content {
    margin-top: 50px;
    line-height: 22px;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 15px;
}

@media (min-width: 641px) and (max-width: 1199.9px) {
    .card-content {
        margin-top: 37px;
    }
}

/* ========== SIDEBAR ========== */
@media (min-width: 1200px) {
    .sidebar {
        width: 25%;
    }
}

@media (min-width: 641px) and (max-width: 1199.9px) {
    .sidebar {
        width: 38%;
        max-width: 270px;
    }
}

.recent-posts-section {
    margin-bottom: 60px;
}

.form-header,
.recent-posts-header,
.newsletter-header,
.tags-header,
.categories-header {
    font-family: "Open Sans Bold", sans-serif;
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 14px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.form-header::after,
.trends-header::after,
.recent-posts-header::after,
.newsletter-header::after,
.tags-header::after,
.categories-header::after,
.shop-header::after {
    content: "";
    background-color: #e1d9bd;
    width: 66px;
    height: 4px;
    margin-top: 14px;
}

.recent-posts-article {
    display: flex;
}

.recent-posts-article:nth-child(n + 2) {
    margin-top: 23px;
}

.recent-post {
    display: flex;
    flex-direction: column;
    margin-left: 17px;
}

.recent-post-date {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #acacac;
}

.recent-post-title {
    margin-top: 0;
    margin-bottom: 0;
}

 .recent-post-link {
    font-family: "Open Sans Bold", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 14px;
    text-align: 18px;
}

.search {
    display: flex;
    width: 100%;
    height: 48px;
    margin: 60px auto;
}

.lable-search {
    width: 100%;
}

.search-field {
    border: none;
    background-color: #f4f7f6;
    font-family: "Open Sans", sans-serif;
    padding: 0 18px;
    width: 100%;
    height: 48px;
    margin: 0;
}

.hidden {
    display: none;
}

.search-button {
    display: flex;
    align-items: flex-end;

    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    background-color: #b59f5b;
    height: 48px;
    width: 48px;
    cursor: pointer;
    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px 18px;
}

.search-button:hover {
    background-color: #a69f6d;
}

.search-button:focus {
    background-color: #473a06;
}

.email-field {
    display: flex;

    border: none;
    background-color: #f4f7f6;
    font-family: "Open Sans", sans-serif;
    padding: 0 18px;
    height: 48px;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 18px;
}

.newsletter-section {
    margin-bottom: 60px;
}

.subscribe-button {
    display: block;

    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    background-color: #b59f5b;
    height: 48px;
    width: 100%;
  
    cursor: pointer;

    font-family: "Open Sans Bold", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}

.subscribe-button:hover {
    background-color: #a69f6d;
}

.subscribe-button:focus {
    background-color: #473a06;
}

.tags-section {
    margin-bottom: 60px;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  
    margin-top: 26px;
    padding: 0;
}

.tags-list-item {

    border: solid 3px #eeeeee;
    margin-bottom: 6px;
}

.tags-list-item:nth-child(n+2) {
    margin-left: 4px;
}

.tags-link {
    display: block;
    padding: 8px 14px;
  
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 12px;
    color: #0f0d0e;
}

.categories-list {
    padding-left: 0;
    margin-top: 26px;
    list-style: none;
}

.categories {
    display: block;

    border-bottom: solid #eeeeee 1px;
    padding: 18px 6px 18px 0;
}

.categories-link {
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 14px;
    color: #0f0d0e;
}

.categories-number {
    font-family: "Open Sans Bold", sans-serif;
    font-size: 12px;
    color: #b59f5b;
}

/* ========== SHOP-SECTION ========== */

@media (min-width: 1200px) {
    .shop-wrapper {
        width: 1170px;
        padding: 0 15px;
        margin: 60px auto;
    }
}

@media (min-width: 641px) and (max-width: 1199.9px) {
    .shop-wrapper {
        padding: 0 35px;
        margin: auto;
        margin-bottom: 50px;
    }
}

@media (max-width: 640px) {
    .shop-wrapper {
        padding: 0 15px;
        margin: auto;
        margin-bottom: 50px;
    }
}

.shop-header {
    margin:  0;
    font-family: "Open Sans Bold", sans-serif;
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
@media (min-width: 1200px) {
    .product {
        width: 30%;
    }
}

@media (min-width: 641px) and (max-width: 1199.9px) {
    .product {
        width: 48%;
    }
}

.product-img {
    position: relative;
    top: 30px;
    width: 100%;
}

.product-wrapper {
    position: relative;
    z-index: 2;
    border: solid 3px #b59f5b;
    padding: 23px;
    box-sizing: border-box;
    align-items: flex-start;
    height: 100%;
}

.product-name {
    font-family: "Open Sans Bold", sans-serif;
    color: #0f0d0e;
    text-transform: uppercase;
    font-size: 20px;
}

@media {
    .product-name {
        font-size: 17px;
    }
}

.product-info {
    font-family: "Open Sans Regular", sans-serif;
    font-size: 15px;
    text-align: 22px;
    color: #0f0d0e;
}

.product-link {
    text-decoration: none;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 15px;
    color: #b59f5b;
}

.product-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.product-button {
    display: block;

    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    background-color: #b59f5b;
    height: 48px;
    width: 138px;
  
    cursor: pointer;

    font-family: "Open Sans Bold", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}

.product-button:hover {
    background-color: #a69f6d;
}

.product-button:focus {
    background-color: #473a06;
}

.product-prices {
    display: block;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 20px;
    color: #0f0d0e;
}

.product-price {
    line-height: 1;
}

.product-old-price {
    text-decoration: line-through;
    font-size: 14px;
    display: block;
}

.product-new-price {
    font-size: 20px;
    display: block;
}

/* ========== FOOTER ========== */
.footer {
    margin-bottom: 33px;
}

@media (min-width: 1200px) {
    .footer-wrapper {
        width: 1170px;
        margin: auto;
        padding: 0 15px;
    }
}

@media (min-width: 641px) and (max-width: 1199.9px) { 
    .footer-wrapper {
        width: 100%;
        margin: auto;
        padding: 0 35px;
    }
}

@media (max-width: 640px) { 
    .footer-wrapper {
        width: 100%;
        margin: auto;
        padding: 0 15px;
    }
}

.socials-section {
    margin-top: 0;
}

.socials {
    display: flex;
    background-color: #f4f7f6;
    list-style-type: none;
    justify-content: center;
  
    padding: 30px 0;
    margin: 0 auto;
}

.socials-item {
    margin-right: 28px;
}

.socials-link {
    display: block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}

.socials-item:last-child {
    margin-right: 0;
}

.twitter {
    background-image: url(../svg/004-twitter.svg);
}                                                                                                                                                                                                                                 
.pinterest {
    background-image: url(../svg/001-pinterest.svg);
}

.facebook {
    background-image: url(../svg/002-facebook-logo.svg);
}
.instagram {
    background-image: url(../svg/005-instagram.svg);
}
.tumblr {
    background-image: url(../svg/003-tumblr.svg);
}

.socials-link-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
}

.copyright-section {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.copyright {
    font-family: "Open Sans Bold", sans-serif;
    font-size: 12px;
    color: #999999;
    text-decoration: none;
}
